#App {
  margin: 2%;
  padding: 1%;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  --primary-color: #1266cc;
  --secondary-color: #f96400;
  --flash-color: rgb(89, 255, 0);
  --gray: #999;
  --light-gray: #e0e0e0;
  --dark-gray: #777;
}

#App .container {
  padding: 2%;
  display: block;
  align-items: center;

}


hr {
  margin: 4rem 0;
}

#App .container .welcome h1 {
  margin-bottom: 1%;
  font-size: 2.6rem;
  display: block;
}
#App .container footer {
  padding-bottom: 7.5rem;
}

#App .container footer a {
  display: inline-block;
  margin: 2rem 1rem 0 0;
}
