
  
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="date"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
  }
    
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus{
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
 
  input[type="submit"]:hover {
    background: #6cf0c2;
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;

  }
  
  .show-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-content: center;
    display: inline-block;
    max-width: 20%;
    max-height: 10%;
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }