input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

button {
  width: 180px;
  height: 35px;
  margin-top: 1%;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  text-decoration: none;
  font-size: 80px;
  color: white;
  background: rgb(0, 52, 208);
  background: linear-gradient(90deg, rgba(0, 52, 208, 1) 0%, rgba(68, 68, 240, 1) 28%, rgba(94, 62, 238, 1) 50%, rgba(190, 66, 255, 1) 74%, rgba(253, 0, 255, 1) 100%);

}

button:disabled {
  background: rgb(255,176,255);
  background: linear-gradient(90deg, rgba(255,176,255,1) 0%, rgba(109,128,185,1) 100%);
}

button:hover:not(:disabled) {
  background: rgb(253, 0, 255);
  background: linear-gradient(90deg, rgba(253, 0, 255, 1) 0%, rgba(0, 52, 208, 1) 100%);
}


input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;

}

#contain {
  width: 100%;
  height: 100%;
  position: relative;
}

#proposalForm,
#newTenderForm {
  left: 40%;
  top: 30%;
  z-index: 70;
  position: absolute;
}



.show-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;

}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}